 <!-- navbar -->
 <nav>
    <div class="wrapper">
      <div class="logo"><a href="index.html">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="index.html">Home</a></li>

        <li>
          <a href="#" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="webdev.html">wordpess</a></li>
                  <li><a href="webdev.html">coding</a></li>
                  <li><a href="webdev.html">dynamic & static</a></li>
                  <li><a href="webdev.html">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="crypto.html">Consultation</a></li>
                  <li><a href="crypto.html">Technical analysis</a></li>
                  <li><a href="crypto.html">Fundamental analysis</a></li>
                  <li><a href="crypto.html">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain.html">NFT websites</a></li>
                  <li><a href="bl">Dapps & smart contract</a></li>
                  <li><a href="bl">integration</a></li>
                  <li><a href="bl">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about.html" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="porfolio.html">Portfolio</a></li>

        <li><a href="blog.html">Blog</a></li>
        <button class="btn-mudda"><a href="contact.html">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
 