<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>About Us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Aleo:400,700|Lato:400,500,600,700,900|Roboto&display=swap" rel="stylesheet preload" as="style">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/contact.css">
		<link rel="stylesheet" href="/css/nav.css">
		<!-- Css link for responsiveness	 -->
		<link rel="stylesheet" href="/css/responsiveness/about.css">

		
	</head>
	<body>


 <!-- navbar -->
 <nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="blockchain.ejs" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

        <!-- <li><a href="blog.html">Blog</a></li> -->
        <button class="btn-mudda"><a href="contact.html">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
		 

		   
  <!-- custom cursors  -->
<div class="cursor-1"></div>
<div class="cursor-2"></div>


		<section id="about-banner" class="about-page">
   
			<h2>#know About Us</h2>
			
			<p>Read all about us and  about our Process! </p>
		   
			
		</section>

				<div class="services1-banner">
				<div class="container">
					<div class="serve-wrapper">
						<div class="title-serve">
							<span >We Serve</span>

						</div><!-- title-serve -->
						<ul class="we-serve clearfix">
							<li>
								<picture>
									
									<img src="/images/agencies.webp" alt="Agencies" width="44" height="46">
								</picture><span>Agencies</span>
							</li>
							<li>
								<picture>
									
									<img src="/images/business.webp" alt="Business" width="52" height="41">
								</picture><span>Businesses</span>
							</li>
							<li>
								<picture>
									
									<img src="/images/freelancer.webp" alt="Freelancers" width="42" height="38">
								</picture><span>Freelancers</span>
							</li>
						</ul>
						<p>
							As a development & Consultation agency CodeDevoxy works closely with clients to create purpose-driven, informative and user-friendly website development, Blockchain development that serve visitors properly.
							And provide Crypto consultation with technical and fundamental analysis. Live classes on crypto and crypto courses are also given. Our team of highly-qualified professional developers knows how to develop pixel-perfect websites and blockchains complemented with higher conversion rates. We adhere to leverage cutting-edge technologies and trends to maintain the quality and standard of our services.
						</p>
					</div><!-- serve-wrapper -->
				</div>
			</div>
				<section class="conversion">
				<div class="container clearfix manzar">
					<div class="left-wrapper">
						<h2>Our Development Process </h2>
						<p class="conversion-text">
							Our process is pretty simple. We listen to your every word carefully to gather your requirements. We do research, create Wireframe and discuss how we can make it better. We then develop, revise, test, and deliver you the final products.
						</p>
						<div class="btn-order-wrapper">
							<a href="#" class="button btn-order">Start A Project</a>
						</div>
					</div>
					<div class="right-wrapper clearfix">
						<div class="process1 process">
							<span class="process-number">01</span>
							<span class="process-text">Understanding concept and brainstorming</span>
						</div>
						<div class="process2 process">
							<span class="process-number">02</span>
							<span class="process-text">Requirement analysis and strategy development</span>
						</div>
						<div class="process3 process">
							<span class="process-number">03</span>
							<span class="process-text">Wireframe, and website development</span>
						</div>
						<div class="process4 process">
							<span class="process-number">04</span>
							<span class="process-text">Quality analysis and testing</span>
						</div>
						<div class="process5 process">
							<span class="process-number">05</span>
							<span class="process-text">Project deployment</span>
						</div>
						<div class="process6 process">
							<span class="process-number">06</span>
							<span class="process-text">Maintenance and support</span>
						</div>
					</div>
				</div>
			</section>



			<section class="why-choose">
				<div class="container clearfix">
					<div class="right-wraper">
						<h2>Why Choose Us?</h2>
						<div class="scrool-wrapper">
							<article>
								<h4>Quality Assurance</h4>
								<p>
									We have a dedicated team who checks and analyzes the quality of every work. We deliver quality-rich and the best-in-class solutions, as per the requirements of our clients and help them grow their business successfully.
								</p>
							</article>
							<article>
								<h4>On-Time Delivery</h4>
								<p>
									Our goal is to deliver projects as per the given time frame while maintaining quality. We keep our clients informed regarding every progress of project development through email, chat or phone.
								</p>
							</article>
							<article>
								<h4>NDA (Non-Disclosure Agreement)</h4>
								<p>
									We have an NDA policy for our client’s. It helps us to assure you that we never disclose your personal information with anyone and without your permission, except our team.
								</p>
							</article>
							<article>
								<h4>Money-Back Guarantee</h4>
								<p>
									We have a 100% money-back guarantee, for those customers who are not satisfied with the quality of the work or any unfulfilled requirement. In this case, we refund a full amount of money. 
								</p>
							</article>
							<article>
								<h4>Support and Maintenance</h4>
								<p>
									We provide an email, chat and phone support to our customers for any concerns and queries related to our website and services. It also helps us maintain a healthy relationship with our customers.  
								</p>
							</article>
						</div><!-- scrool -->
					</div>
				</div><!-- container -->
			</section><!-- why-choose -->
			
               <!-- free qoute section  -->

  <div class="contact-me">
    <p>Do you have a Project to Discuss?</p>
    <a class="button-two" href="contact">Get Free Quote</a>
  </div>

  


	<!-- footer section  -->

  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>Navigation</h3>
        <a href="home">home</a>
        <a href="about">about</a>
        <a href="web-development">services</a>
        <a href="home">review</a>
        <a href="contact">contact</a>
      </div>

      <div class="box">
        <h3>Services</h3>
        <a href="web-development">Web Development</a>
        <a href="blockchain">Blockchain</a>
        <a href="stock-crypto">Crypto</a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a>+123-456-7890</a>
        <a>example@gmail.com</a>
        <a>Lahore, Pakistan - 400104</a>

      </div>

    </div>

    <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>

  </section>

		
	</body>
	<script src="js/main.js"></script>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/script.js"></script>
</html>