<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsiveness/blog.css">
    <title>Blogs</title>
</head>
<body>

 <!-- navbar -->
 <nav>
  <div class="wrapper">
    <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="home">Home</a></li>

      <li>
        <a href="web-development" class="desktop-item">Services</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Services</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="/images/img.jpg" alt="">
            </div>
            <div class="row">
              <header>Web development</header>
              <ul class="mega-links">
                <li><a href="web-development">wordpess</a></li>
                <li><a href="web-development">coding</a></li>
                <li><a href="web-development">dynamic & static</a></li>
                <li><a href="web-development">woocommerce</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Crypto Currencies</header>
              <ul class="mega-links">
                <li><a href="stock-crypto">Consultation</a></li>
                <li><a href="stock-crypto">Technical analysis</a></li>
                <li><a href="stock-crypto">Fundamental analysis</a></li>
                <li><a href="stock-crypto">crypto Courses</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Blockchain </header>
              <ul class="mega-links">
                <li><a href="blockchain">NFT websites</a></li>
                <li><a href="blockchain">Dapps & smart contract</a></li>
                <li><a href="blockchain">integration</a></li>
                <li><a href="blockchain">connection of wallet</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="about" class="desktop-item">About</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">About</label>
        
      </li>

      <li><a href="portfolios">Portfolio</a></li>

      <li><a href="blogs">Blog</a></li>
      <button class="btn-mudda"><a href="contact">Contact Us</a></button>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

   
  <!-- custom cursors  -->
<div class="cursor-1"></div>
<div class="cursor-2"></div>

    <section id="blog-banner" class="shop-page">
   
        <h2>#readmore</h2>
        
        <p>Read all case studies about our Development & Consultation! </p>
       
        
    </section>
    
    <div class="p-text">
        <h2>Our Latest Blogs</h2>
    </div>
    
    <section id="blog">
       
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/b1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>How to improve coding skills</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ex suscipit non cupiditate ut, quidem magnam minus rerum nihil.</p>
                <a href="blogpost.html">CONTINUE READING</a>
            </div>
            <h1>05/10</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/b2.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>How to style a Quiff</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ex suscipit non cupiditate ut, quidem magnam minus rerum nihil.</p>
                <a href="blog.html">CONTINUE READING</a>
            </div>
            <h1>10/10</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/b3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Must-have Skater Girl Items</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ex suscipit non cupiditate ut, quidem magnam minus rerum nihil.</p>
                <a href="blog.html">CONTINUE READING</a>
            </div>
            <h1>12/10</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/b4.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Runway-InspiredTrends</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ex suscipit non cupiditate ut, quidem magnam minus rerum nihil.</p>
                <a href="blog.html">CONTINUE READING</a>
            </div>
            <h1>16/10</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/b6.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>AW20 Menswear Trends</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ex suscipit non cupiditate ut, quidem magnam minus rerum nihil.</p>
                <a href="blog.html">CONTINUE READING</a>
            </div>
            <h1>20/10</h1>
        </div>
        
    </section>


    <div class="contact-me">
        <p>Do you have a Project to Discuss?</p>
        <a class="button-two" href="contact">Get Free Quote</a>
      </div>

    <!-- footer section  -->

  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>Navigation</h3>
        <a href="home">home</a>
        <a href="about">about</a>
        <a href="web-development.ejs">services</a>
        <a href="home">review</a>
        <a href="contact">contact</a>
      </div>

      <div class="box">
        <h3>Services</h3>
        <a href="web-development">Web Development</a>
        <a href="blockchain">Blockchain</a>
        <a href="stock-cryptos">Crypto</a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a>+123-456-7890</a>
        <a>example@gmail.com</a>
        <a>Lahore, Pakistan - 400104</a>

      </div>

    </div>

    <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>

  </section>

</body>
<script src="js/main.js"></script>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/script.js"></script>
</html>