<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Contact</title>
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/contact.css"> -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <!-- responsive css -->
  <link rel="stylesheet" href="/css/responsiveness/home.css">
  
</head>
<body>

   <!-- navbar -->
   <!--<nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="web-development" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

       <li><a href="blog.html">Blog</a></li> 
        <button class="btn-mudda"><a href="contact">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
-->
   
  <!-- custom cursors  -->
<!-- <div class="cursor-1"></div>
<div class="cursor-2"></div> -->

  <!-- <section id="contact-banner" class="contact-page"> -->
   
    <!-- <h2>#Contact Us</h2>
    
    <p>Join us to avail our Development & Consultation Services! </p> -->
   
    
<!-- </section> -->

<!-- 
  <section class="page1">
    
    <div class="section-header">
      <div class="container">
        <h2>Let's start development journey</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dignissimos eaque doloremque, nulla mollitia facilis temporibus ullam voluptas nostrum consequatur? Fugiat vitae sint quo est eveniet perspiciatis eum asperiores ipsam.</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>4671 Sugar Camp Road,<br/> Owatonna, Minnesota, <br/>55060</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>561-456-2321</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Email</h4>
             <p>example@email.com</p>
            </div>
          </div>
        </div>
        
        <div class="contact-form">
          <form action="/contact" method="post" id="contact-form">
            <h2>Let's Start</h2>
            <div class="input-box">
              <input type="text" required="true" name="name">
              <span>Full Name*</span>
            </div>
            
            <div class="input-box">
              <input type="email" required="true" name="email">
              <span>Email*</span>
            </div>
            
            
            <div class="input-box">
              <textarea required="true" name="message"></textarea>
              <span>Type your Message...</span>
            </div>
            
            <div class="input-box">
              <input type="submit" value="Send" name="">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section> -->

  <!-- <section class="features" id="features">

    <h1 class="heading"> Our Features </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/feature-img-1.png" alt="">
            <h3>Fast Services</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
             <a href="#" class="btn">read more</a> 
            
        </div>

        <div class="box">
            <img src="images/feature-img-2.png" alt="">
            <h3>happy clients</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
            <a href="#" class="btn">read more</a> 
        </div>

        <div class="box">
            <img src="images/feature-img-3.png" alt="">
            <h3>Quality Work</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
            <a href="#" class="btn">read more</a> 
        </div>

    </div>

</section> -->


  <div class="contact-me">
    <p>Do you have a Project to Discuss?</p>
    <a class="button-two" href="#">Get Free Quote</a>
  </div>
  

<!-- footer section  -->

<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>Navigation</h3>
      <a href="home">home</a>
      <a href="about">about</a>
      <a href="web-development">services</a>
      <a href="home">review</a>
      <a href="contact">contact</a>
    </div>

    <div class="box">
      <h3>Services</h3>
      <a href="web-development">Web Development</a>
      <a href="blockchain">Blockchain</a>
      <a href="stock-crypto">Crypto</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a>+123-456-7890</a>
      <a>example@gmail.com</a>
      <a>Lahore, Pakistan - 400104</a>

    </div>

  </div>

  <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>

</section>

</body>
<script src="js/main.js"></script>
<!-- Swiper JS 
 <script src="js/swiper-bundle.min.js"></script>

 JavaScript 
<script src="js/script.js"></script> -->
</html>

