<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>About Us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Aleo:400,700|Lato:400,500,600,700,900|Roboto&display=swap" rel="stylesheet preload" as="style">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/contact.css">
		<link rel="stylesheet" href="/css/nav.css">
		<!-- Css link for responsiveness	 -->
		<link rel="stylesheet" href="/css/responsiveness/about.css">

		
	</head>
	<body>


 <!-- navbar -->
 <nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="blockchain.ejs" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

        <!-- <li><a href="blog.html">Blog</a></li> -->
        <button class="btn-mudda"><a href="contact.html">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
		 

		   
  <!-- custom cursors  -->
<div class="cursor-1"></div>
<div class="cursor-2"></div>


		<section id="about-banner" class="about-page">
   
			<h2>#Contact Us</h2>
			
			<p>We are here to help you 24/7</p>
		   
			
		</section>

				

    <section class="contact" id="contact">

      <h1 class="heading"> <span> Let's Kick Start Your</span> project Development </h1>
  
      <div class="row">
  
        <form action="/home" method="post">
          <h2>Name*</h2>
          <input type="text" name="name" placeholder=" Enter your name" class="box">
          <h2>Email*</h2>
          <input type="email"name="email" placeholder=" Enter your email" class="box">
          
          
          <h2>Message*</h2>
          <textarea name="message" class="box" placeholder="Enter your message" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="send message" class="btn-1">
        </form>
  
        <div class="image">
          <!-- <img src="images/contact-img.svg" alt=""> -->
          <div class="contact-info">
            
            <h2><span>Email : </span> CodeDevoxy@gmail.com</h2>
            <h2><span>Wattsapp : </span> +92-3107285227</h2>
          </div>
        </div>
  
      </div>
  
    </section>
			
               <!-- free qoute section  -->

  <div class="contact-me">
    <p>Do you have a Project to Discuss?</p>
    <a class="button-two" href="contact">Get Free Quote</a>
  </div>

  


	<!-- footer section  -->

  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>Navigation</h3>
        <a href="home">home</a>
        <a href="about">about</a>
        <a href="web-development">services</a>
        <a href="home">review</a>
        <a href="contact">contact</a>
      </div>

      <div class="box">
        <h3>Services</h3>
        <a href="web-development">Web Development</a>
        <a href="blockchain">Blockchain</a>
        <a href="stock-crypto">Crypto</a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a>+123-456-7890</a>
        <a>example@gmail.com</a>
        <a>Lahore, Pakistan - 400104</a>

      </div>

    </div>

    <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>

  </section>

		
	</body>
	<script src="js/main.js"></script>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/script.js"></script>
</html>