<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="css/swiper-bundle.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <!-- Add link of responsive css -->
  <link rel="stylesheet" href="/css/responsiveness/home.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <title>CodeDevoxy</title>

</head>

<body>

  <!-- navbar -->
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="web-development" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

        <!-- <li><a href="blog.html">Blog</a></li> -->
        <button class="btn-mudda"><a href="contact">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
 
 
  <!-- custom cursors  -->
<div class="cursor-1"></div>
<div class="cursor-2"></div>

  <!-- Hero section -->
  <div class="content">
    <div class="text">
      <p>We Provide Scalable <span>Development & Consultation</span> Services </p>
      <a href="contact.html" class="btn">Get Started</a>
    </div>
    <div class="img">
      <div class="social-icons">
        <img src="images/img sett.png" alt="">
        <img src="images/img sett1.png" alt="">
        <img src="images/img sett2.png" alt="">
        <img src="images/img sett3.png" alt="">
        <img src="images/img sett4.png" alt="">
      </div>
      <img class="email-icon" src="images/email-icon.png" alt="">
    </div>
  </div>
  
  

  <div class="wave">
    <img src="images/wave.svg" alt="">
  </div>
  </div>
  </div>
  </div>
<!-- about explain -->
<section class="page1">
    
  <div class="section-header">
    <div class="container">
      <h2 id="about-heading">About Us</h2>
      <p>CODEDEVOXY is a group of freelancers we consists of a developers, designers , marketers  , stock / crypto traders and project managers. We work together and help the world in the field of business. We have satisfied clients all over the world. We are providing services in web development , blockchain development and in Stock and crypto. </p>
    </div>
  </div>
  <!-- About section  -->

  <section class="about" id="about">
<h1 class="heading"> <span>Connect with</span> CodeDevoxy </h1>
    <div class="row">

      <div class="img-container">
        <img src="/images/a6.jpg" alt="">

      </div>

      <div class="content">
        <h3>why choose us?</h3>
        <p>We are providing services as a freelancing group so you can easily find the high quality work in affordable rates with 100% satisfaction. We will provide you the free samples according to your project so you can easily trust on us and take the demo of our skills as well because your satisfaction is our success. All the freelancers that are member of this group that is successful in their fields and the mixture of these successful individuals take this group to the next level. We are expert in what we are doing and giving you 100% money back guarantee so no need to worry about anything. So what are you waiting for.... </p>
        
        <a href="contact" class="btn-1">Contact Us Now</a>
      </div>

    </div>

  </section>

<!-- services section  -->
  <section class="services">
    <div class="row">
      <h2 class="section-heading">What We Do??</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div>
          <h3>Web Development</h3>
          <p>
            We are providing services in web in which we create programming website or web apps and we also develop website in CMDs like wordpress and shopify with professional eye cacUX/UI design.
          </p>
          <a href="web-development" class="button">Learn More</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div>
          <h3>Blockchain</h3>
          <p>
            In Blockchain we provide servies like dapps development , nft websites , smart contracts , nft minting platform and many more.
          </p>
          <a href="blockchain" class="button">Learn More</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div>
          <h3>Crypto Currencies</h3>
          <p>
            We provide you consultation in which you know about fundamental and technical analysis with scenario analysis attend live education classes so you also learn about this industry and become a successful trader.    
          </p>
          <a href="stock-crypto" class="button">Learn More</a>
        </div>
      </div>

    </div>
  </section>
<br><br><br>

  <!-- Experience section  -->
 <section>
  <div class="box-container-1">

    <div class="box-1">
        <h3> >> 2+ </h3>
        <p>years of experience</p>
    </div>
    <div class="box-1">
        <h3> >> 25+ </h3>
        <p>happy clients</p>
    </div>
    <div class="box-1">
        <h3> >> 25+ </h3>
        <p>projects completed</p>
    </div>
    <div class="box-1">
        <h3> >> 5+ </h3>
        <p>companies projects</p>
    </div>

</div>

 </section>
<!-- oUR CLIENTS section -->

  <!-- <div class="container-clients">
    <h2 class="text-center font-weight-bold">Our Clients</h2>
    <section class="customer-logos slider">
      <div class="slide"><img src="images/adidas.png" alt=""></div>
      <div class="slide"><img src="images/facebook.png" alt=""></div>
      <div class="slide"><img src="images/google.png" alt=""></div>
      <div class="slide"><img src="images/instagram.png" alt=""></div>
      <div class="slide"><img src="images/nike.png" alt=""></div>
      <div class="slide"><img src="images/twitter.png" alt=""></div>
      <div class="slide"><img src="images/uber.png" alt=""></div>
      <div class="slide"><img src="images/youtube.png" alt=""></div>
    </section>
  </div> -->

  <!-- testimonial section  -->
  <section class="testimonial">

    <div class="slide-container swiper">
      <div class="text-test">
        <h2>What Our Clients say</h2>
      </div>
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/1.0.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Fanzent</h2>
              <p class="description">Took a few revisions to get my vision into the site.</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/2.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Jaafa</h2>
              <p class="description">Great, still working together!</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/3.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Luisrosal</h2>
              <p class="description">Thanks for your time and effort .</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/4.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">shaikeem</h2>
              <p class="description">Good work!!!</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/7.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">sarnquist</h2>
              <p class="description">Great Seller.</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/5.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">levarioblue</h2>
              <p class="description">he delivered exactly what I was looking for.</p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/7.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">John</h2>
              <p class="description">Fast service. Booking him for further gigs.
                </p>

              
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/7.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Wellz</h2>
              <p class="description">He is an incredible programmer, did exactly what I asked for.</p>

            
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="/images/client-images/6.PNG" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Dany</h2>
              <p class="description">Hardworking!! everything great!!!</p>

              
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!-- free qoute section  -->

  <div class="contact-me">
    <p>Do you have a Project to Discuss?</p>
    <a class="button-two" href="contact">Get Free Quote</a>
  </div>

  <!-- let's talk us section  -->

  <section class="contact" id="contact">

    <h1 class="heading"> <span> Let's Kick Start Your</span> project Development </h1>

    <div class="row">

      <form action="/home" method="post">
        <h2>Name*</h2>
        <input type="text" name="name" placeholder=" Enter your name" class="box">
        <h2>Email*</h2>
        <input type="email"name="email" placeholder=" Enter your email" class="box">
        
        
        <h2>Message*</h2>
        <textarea name="message" class="box" placeholder="Enter your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn-1">
      </form>

      <div class="image">
        <img src="images/contact-img.svg" alt="">
      </div>

    </div>

  </section>

<!-- footer section  -->

  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>Navigation</h3>
        <a href="home">home</a>
        <a href="about">about</a>
        <a href="web-development">services</a>
        <a href="home">review</a>
        <a href="contact">contact</a>
      </div>

      <div class="box">
        <h3>Services</h3>
        <a href="web-development">Web Development</a>
        <a href="blockchain">Blockchain</a>
        <a href="stock-crypto">Crypto</a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a>+123-456-7890</a>
        <a>example@gmail.com</a>
        

      </div>

    </div>

    <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>

  </section>



  <!-- js for testimonial section  -->
  <script>
    $(document).ready(function () {
      $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
          breakpoint: 768,
          setting: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 520,
          setting: {
            slidesToShow: 3
          }
        }]
      });
    });
  </script>



</body>
<script src="js/main.js"></script>
<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/script.js"></script>

</html>