<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/portfolios.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
     <!-- navbar -->
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="web-development" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

        <!-- <li><a href="blog.html">Blog</a></li> -->
        <button class="btn-mudda"><a href="contact">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>
    <section class="portfolios-section" id="portfolio">
        <div class="main-title">
            <h2>Our <span>Portfolio</span></h2>
        </div>
        <p class="port-text">
            Here is some of my work that we've done in various programming languages.
        </p>
        <div class="portfolios">
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port1.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port2.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port3.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port4.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port5.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="img/port2.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="portfolio-item">
                <div class="image">
                    <img src="img/port7.jpg" alt="">
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="#" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
<!-- js links -->
<script src="js/main.js"></script>

</body>
</html>