<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Swiper CSS -->
  <link rel="stylesheet" href="css/swiper-bundle.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <!-- responsiveness -->
  <link rel="stylesheet" href="/css/responsiveness/services-pages.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <title>Services</title>
</head>
<body>

   <!-- navbar -->
   <nav>
    <div class="wrapper">
      <div class="logo"><a href="home">Code<span>Devoxy</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="home">Home</a></li>

        <li>
          <a href="web-development" class="desktop-item">Services</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Services</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="/images/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Web development</header>
                <ul class="mega-links">
                  <li><a href="web-development">wordpess</a></li>
                  <li><a href="web-development">coding</a></li>
                  <li><a href="web-development">dynamic & static</a></li>
                  <li><a href="web-development">woocommerce</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Crypto Currencies</header>
                <ul class="mega-links">
                  <li><a href="stock-crypto">Consultation</a></li>
                  <li><a href="stock-crypto">Technical analysis</a></li>
                  <li><a href="stock-crypto">Fundamental analysis</a></li>
                  <li><a href="stock-crypto">crypto Courses</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Blockchain </header>
                <ul class="mega-links">
                  <li><a href="blockchain">NFT websites</a></li>
                  <li><a href="blockchain">Dapps & smart contract</a></li>
                  <li><a href="blockchain">integration</a></li>
                  <li><a href="blockchain">connection of wallet</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="about" class="desktop-item">About</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">About</label>
         
        </li>

        <li><a href="portfolios">Portfolio</a></li>

        <!-- <li><a href="blog.html">Blog</a></li> -->
        <button class="btn-mudda"><a href="contact">Contact Us</a></button>
      </ul>
      <div class="burger" title="Navigation Menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </div>
  </nav>



    <!-- services section  -->
  <section  class="services-1">
    <div class="row">
      <h2 class="section-heading">Web Development</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card-1">
          <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div>
          <h3>UX/UI Design</h3>
          <p>
            Our designers creates professional and modern designs that takes your website to the next level and 99% of online uses likes modern looking websites.
          </p>
         
        </div>
      </div>
      <div class="column">
        <div class="card-1">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div>
          <h3>CMD's</h3>
          <p>
            We are working on all the CMDs like wordpresss , shopify and pagemaker etc .These types of websites are affordable and easy to manage.
          </p>
         
        </div>
      </div>
      <div class="column">
        <div class="card-1">
          <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div>
          <h3>Web Apps</h3>
          <p>
            We can also develop web apps with advance functionalities . Programming is involve in it so you can easily add custom functionalities in it as well with modern looking designs. 
          </p>
          
        </div>
      </div>
      
      
      
      </div>

    </div>
  </section>

    <!-- free qoute section  -->

    <div class="contact-me">
        <p>Do you have a Project to Discuss?</p>
        <a class="button-two" href="contact">Get Free Quote</a>
      </div>
    
    <!-- footer section  -->
    
      <section class="footer">
    
        <div class="box-container">
    
          <div class="box">
            <h3>Navigation</h3>
            <a href="home">home</a>
            <a href="about">about</a>
            <a href="web-development">services</a>
            <a href="home">review</a>
            <a href="contact">contact</a>
          </div>
    
          <div class="box">
            <h3>Services</h3>
            <a href="web-development">Web Development</a>
            <a href="blockchain">Blockchain</a>
            <a href="stock-crypto">Crypto</a>
          </div>
    
          <div class="box">
            <h3>contact info</h3>
            <a>+123-456-7890</a>
            <a>example@gmail.com</a>
            <a>Lahore, Pakistan - 400104</a>
    
          </div>
    
        </div>
    
        <div class="credit"> @Copyright 2022 <span> CodeDevoxy </span> | all rights reserved </div>
    
      </section>

      <!-- js links -->
      <script src="js/main.js"></script>
    
</body>
</html>